##
# mandatory macros
# ----------------
# DN     -> device name
# EOS    -> device name used to reference EOS PVs
# PIR    -> PV to read current pulse id from
#
# optional macros
# ---------------
# LEN -> max length of series (default=65536)
# TR -> enable(1)/disable(0) record tracing (default=0)

# cta -------------------------------------------------------------------------
#
# cta.db provided the records to glue all the elements together.

file cta.db {
  {P="$(DN):", LENGTH="$(LEN=65536)", SOS1_FWD_HOOK="$(DN):Seq1PerfStart-Cmd", SOS2_FWD_HOOK="$(DN):Seq2PerfStart-Cmd", FLOAD="seq0Ser0-Load-I"}
}

# performance -----------------------------------------------------------------
#
# performance.db contains records to provide a performance measurement
# functionality.

file performance.db {
  {P="$(DN):", SEQNUM="1"}
  {P="$(DN):", SEQNUM="2"}
}

# sequence definition ---------------------------------------------------------
#
# Each sequence consists of a number of series and a sequence controller.

## sequence 0 --------------------------
file seqCtrl.db {
  pattern
  {P,                 DN_SER0,           FLOAD,                   PIR,      LENGTH         }
  {"$(DN):seq0Ctrl-", "$(DN):seq0Ser0-", "$(DN):seq0Ser0-Load-I", "$(PIR)", "$(LEN=65536)" }
}

file series.db {
  pattern
  {P,                 LENGTH,        FINDEX,                       FLOAD,                    FENABLE}
  {"$(DN):seq0Ser0",  "$(LEN=65536)", "$(DN):seq0Ser1-Index-I PP",  "$(DN):seq0Ser1-Load-I",  "$(DN):seq0Ser1-Enable-I PP"}
  {"$(DN):seq0Ser1",  "$(LEN=65536)", "$(DN):seq0Ser2-Index-I PP",  "$(DN):seq0Ser2-Load-I",  "$(DN):seq0Ser2-Enable-I PP"}
  {"$(DN):seq0Ser2",  "$(LEN=65536)", "$(DN):seq0Ser3-Index-I PP",  "$(DN):seq0Ser3-Load-I",  "$(DN):seq0Ser3-Enable-I PP"}
  {"$(DN):seq0Ser3",  "$(LEN=65536)", "$(DN):seq0Ser4-Index-I PP",  "$(DN):seq0Ser4-Load-I",  "$(DN):seq0Ser4-Enable-I PP"}
  {"$(DN):seq0Ser4",  "$(LEN=65536)", "$(DN):seq0Ser5-Index-I PP",  "$(DN):seq0Ser5-Load-I",  "$(DN):seq0Ser5-Enable-I PP"}
  {"$(DN):seq0Ser5",  "$(LEN=65536)", "$(DN):seq0Ser6-Index-I PP",  "$(DN):seq0Ser6-Load-I",  "$(DN):seq0Ser6-Enable-I PP"}
  {"$(DN):seq0Ser6",  "$(LEN=65536)", "$(DN):seq0Ser7-Index-I PP",  "$(DN):seq0Ser7-Load-I",  "$(DN):seq0Ser7-Enable-I PP"}
  {"$(DN):seq0Ser7",  "$(LEN=65536)", "$(DN):seq0Ser8-Index-I PP",  "$(DN):seq0Ser8-Load-I",  "$(DN):seq0Ser8-Enable-I PP"}
  {"$(DN):seq0Ser8",  "$(LEN=65536)", "$(DN):seq0Ser9-Index-I PP",  "$(DN):seq0Ser9-Load-I",  "$(DN):seq0Ser9-Enable-I PP"}
  {"$(DN):seq0Ser9",  "$(LEN=65536)", "$(DN):seq0Ser10-Index-I PP", "$(DN):seq0Ser10-Load-I", "$(DN):seq0Ser10-Enable-I PP"}
  {"$(DN):seq0Ser10", "$(LEN=65536)", "$(DN):seq0Ser11-Index-I PP", "$(DN):seq0Ser11-Load-I", "$(DN):seq0Ser11-Enable-I PP"}
  {"$(DN):seq0Ser11", "$(LEN=65536)", "$(DN):seq0Ser12-Index-I PP", "$(DN):seq0Ser12-Load-I", "$(DN):seq0Ser12-Enable-I PP"}
  {"$(DN):seq0Ser12", "$(LEN=65536)", "$(DN):seq0Ser13-Index-I PP", "$(DN):seq0Ser13-Load-I", "$(DN):seq0Ser13-Enable-I PP"}
  {"$(DN):seq0Ser13", "$(LEN=65536)", "$(DN):seq0Ser14-Index-I PP", "$(DN):seq0Ser14-Load-I", "$(DN):seq0Ser14-Enable-I PP"}
  {"$(DN):seq0Ser14", "$(LEN=65536)", "$(DN):seq0Ser15-Index-I PP", "$(DN):seq0Ser15-Load-I", "$(DN):seq0Ser15-Enable-I PP"}
  {"$(DN):seq0Ser15", "$(LEN=65536)", "$(DN):seq0Ser16-Index-I PP", "$(DN):seq0Ser16-Load-I", "$(DN):seq0Ser16-Enable-I PP"}
  {"$(DN):seq0Ser16", "$(LEN=65536)", "$(DN):seq0Ser17-Index-I PP", "$(DN):seq0Ser17-Load-I", "$(DN):seq0Ser17-Enable-I PP"}
  {"$(DN):seq0Ser17", "$(LEN=65536)", "$(DN):seq0Ser18-Index-I PP", "$(DN):seq0Ser18-Load-I", "$(DN):seq0Ser18-Enable-I PP"}
  {"$(DN):seq0Ser18", "$(LEN=65536)", "$(DN):seq0Ser19-Index-I PP", "$(DN):seq0Ser19-Load-I", "$(DN):seq0Ser19-Enable-I PP"}
  {"$(DN):seq0Ser19", "$(LEN=65536)", "",                          "",                      ""                          }
}

# superposition ---------------------------------------------------------------
#
# We use superposition.db to logically or the outputs of all sequences.
# The output of all series 0 are ored, the output of all series 1 are ored and so on.
#
# The instances of superposition.db are chained together using the LNK makro.
# So processing the first instance, processes all of them.
#
# sequence 0
#    series 0 ----|          
#    series 1 ----|------|
#    series 2 ----|------|------|
#                 |      |      |
# sequence 1      |      |      |
#    series 0 ----|-|    |      |
#    series 1 ----|-|----|-|    |
#    series 2 ----|-|----|-|----|-|
#                 | |    | |    | |
#                 ---    ---    ---
#                 |#|    |#|    |#|
#                 ---    ---    --- 
#                  |      |      |
#                  |      |      |------ superpositioned series 2
#                  |      |------------- superpositioned series 1
#                  |-------------------- superpositioned series 0

file superposition.db {

  pattern
  {NAME,             IN1, IN2,                      OUT,                        LNK,                TRA}
  # series 0
  {$(DN):supSer0_0,  "0", "$(DN):seq0Ser0-Data-O",  "$(EOS):Evt-1-Ena-Sel PP",  "$(DN):supSer1_0",  "$(TR=0)"} # sequence 0
  # series 1
  {$(DN):supSer1_0,  "0", "$(DN):seq0Ser1-Data-O",  "$(EOS):Evt-2-Ena-Sel PP",  "$(DN):supSer2_0",  "$(TR=0)"} # sequence 0
  # series 2
  {$(DN):supSer2_0,  "0", "$(DN):seq0Ser2-Data-O",  "$(EOS):Evt-3-Ena-Sel PP",  "$(DN):supSer3_0",  "$(TR=0)"} # sequence 0
  # series 3
  {$(DN):supSer3_0,  "0", "$(DN):seq0Ser3-Data-O",  "$(EOS):Evt-4-Ena-Sel PP",  "$(DN):supSer4_0",  "$(TR=0)"} # sequence 0
  # series 4
  {$(DN):supSer4_0,  "0", "$(DN):seq0Ser4-Data-O",  "$(EOS):Evt-5-Ena-Sel PP",  "$(DN):supSer5_0",  "$(TR=0)"} # sequence 0
  # series 5
  {$(DN):supSer5_0,  "0", "$(DN):seq0Ser5-Data-O",  "$(EOS):Evt-6-Ena-Sel PP",  "$(DN):supSer6_0",  "$(TR=0)"} # sequence 0
  # series 6
  {$(DN):supSer6_0,  "0", "$(DN):seq0Ser6-Data-O",  "$(EOS):Evt-7-Ena-Sel PP",  "$(DN):supSer7_0",  "$(TR=0)"} # sequence 0
  # series 7
  {$(DN):supSer7_0,  "0", "$(DN):seq0Ser7-Data-O",  "$(EOS):Evt-8-Ena-Sel PP",  "$(DN):supSer8_0",  "$(TR=0)"} # sequence 0
  # series 8
  {$(DN):supSer8_0,  "0", "$(DN):seq0Ser8-Data-O",  "$(EOS):Evt-9-Ena-Sel PP",  "$(DN):supSer9_0",  "$(TR=0)"} # sequence 0
  # series 9
  {$(DN):supSer9_0,  "0", "$(DN):seq0Ser9-Data-O",  "$(EOS):Evt-10-Ena-Sel PP", "$(DN):supSer10_0", "$(TR=0)"} # sequence 0
  # series 10
  {$(DN):supSer10_0, "0", "$(DN):seq0Ser10-Data-O", "$(EOS):Evt-11-Ena-Sel PP", "$(DN):supSer11_0", "$(TR=0)"} # sequence 0
  # series 11
  {$(DN):supSer11_0, "0", "$(DN):seq0Ser11-Data-O", "$(EOS):Evt-12-Ena-Sel PP", "$(DN):supSer12_0", "$(TR=0)"} # sequence 0
  # series 12
  {$(DN):supSer12_0, "0", "$(DN):seq0Ser12-Data-O", "$(EOS):Evt-13-Ena-Sel PP", "$(DN):supSer13_0", "$(TR=0)"} # sequence 0
  # series 13
  {$(DN):supSer13_0, "0", "$(DN):seq0Ser13-Data-O", "$(EOS):Evt-14-Ena-Sel PP", "$(DN):supSer14_0", "$(TR=0)"} # sequence 0
  # series 14
  {$(DN):supSer14_0, "0", "$(DN):seq0Ser14-Data-O", "$(EOS):Evt-15-Ena-Sel PP", "$(DN):supSer15_0", "$(TR=0)"} # sequence 0
  # series 15
  {$(DN):supSer15_0, "0", "$(DN):seq0Ser15-Data-O", "$(EOS):Evt-16-Ena-Sel PP", "$(DN):supSer16_0", "$(TR=0)"} # sequence 0
  # series 16
  {$(DN):supSer16_0, "0", "$(DN):seq0Ser16-Data-O", "$(EOS):Evt-17-Ena-Sel PP", "$(DN):supSer17_0", "$(TR=0)"} # sequence 0
  # series 17
  {$(DN):supSer17_0, "0", "$(DN):seq0Ser17-Data-O", "$(EOS):Evt-18-Ena-Sel PP", "$(DN):supSer18_0", "$(TR=0)"} # sequence 0
  # series 18
  {$(DN):supSer18_0, "0", "$(DN):seq0Ser18-Data-O", "$(EOS):Evt-19-Ena-Sel PP", "$(DN):supSer19_0", "$(TR=0)"} # sequence 0
  # series 19
  {$(DN):supSer19_0, "0", "$(DN):seq0Ser19-Data-O", "$(EOS):Evt-20-Ena-Sel PP", "",                "$(TR=0)"} # sequence 0
}

